.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vmin auto;
}

.App-header {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
  font-size: 2.5vmin;
  color: var(--background);
}

.App main {
  background-color: var(--background);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.App main h1 {
  color: var(--secondary-dark);
  margin-bottom: 5vmin;
}

.card {
  width: 300px;
  height: 420px;
  background-color: var(--black);
}

h2 {
  font-size: 25px;
}

.card:hover {
  width: 300px;
  height: 420px;
  color: var(--black);
  background-color: var(--accent);
}

.show {
  justify-content: center;
  align-items: center;
  display: flex;
  /* background-color: var(--background); */
  /* border: ; */
  border-radius: 2px;
  text-align: center;
}

.card-img-top {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  object-fit: cover;
}  

.imgShow {
  width: 50%vw;
  height: 400px;
}

.imgShow:hover {
  transition: 3ms;
  transform: scale(1.5);
}

.button {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.paragraph {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px;

}